
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background: #1d1812;
  overflow-y: overlay;
  overscroll-behavior: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}


::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #1d1812;
}

::-webkit-scrollbar-track-piece{
  background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #E02B2E;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: #c02020;
}

/* * {
    scrollbar-width: thin;
    scrollbar-color: #E02B2E transparent;
} */